= render partial: './header'

.favorite-index
  .favorite-index-body
    .favorite-index-title.clearfix
      .favorite-index-title__text
        お気にいり
      .favorite-index-title__create
        %button.favorite-index-title__button
          %span お気に入りを作成する
    .favorite-index-my.clearfix
      .favorite-index-my__text
        マイお気にいり
      .favorite-index-my__number
        お気にいり2件
    .favorite-index-folders
      %a.favorite-index-list{href: '/favorites/1',style: "background-image:url(/assets/back_black.JPG);"}
        .favorite-index-list-text
          .favorite-index-list-text__name
            フォルダ名
          .favorite-index-list-text__number
            3軒の宿泊先

      %a.favorite-index-list{href: '#',style: "background-image:url(/assets/back_black.JPG);"}
        .favorite-index-list-text
          .favorite-index-list-text__name
            フォルダ名
          .favorite-index-list-text__number
            3軒の宿泊先

      %a.favorite-index-list{href: 'root_path',style: "background-image:url(/assets/back_black.JPG);"}
        .favorite-index-list-text
          .favorite-index-list-text__name
            フォルダ名
          .favorite-index-list-text__number
            3軒の宿泊先
