= render partial: './header'

.s-favorite-left
  .s-favorite-left-body
    .s-favorite-head
      %a.s-favorite-head__link
        お気にいり一覧へ
      .s-favorite-head__edit
        %i.fa.fa-pen
    .s-favorite-title
      フォルダ名
    .s-favorite-invitation
      %button.s-favorite-invitation
        %span 仲間を招待する
    .s-favorite-number
      ○件の宿泊先
    .s-favorite-list
      .s-favorite-list__image

      .s-favorite-list__type
        個室 · ベッド1台
      .s-favorite-list__title
        大理洱海门1号酒店星空房
      .s-favorite-list__fee
        ¥ 5,379/泊
      .s-favorite-list__rate
        ★★★★★238 · スーパーホスト

.s-favorite-right
