.capacity-count {
  margin: 26px 0;
  &__info {

  }
}

.bedrooms-label {
  font-size: 20px;
    padding-right: 90px;
    float: left;
}

.bedrooms-count {
  float: right;
  height: 35px;
  line-height: 35px;
  margin-right: 25px;
}

.bed-count {
  margin: 30px 0;
  &__info {
    font-size: 20px;
    padding-bottom: 10px;
  }
  &__sub {
    font-size: 20px;
    padding-right: 40px;
  }
}

.bed-room-info {
  margin: 20px 0;
}

.bed-room-input {
  width: 94%;
}

.number-input {
  font-size: 18px;
  width: 35px;
  margin: 0 20px;
  text-align: center;
  background-color:transparent;
  outline: 0;
  border: 0px;
}

.spinner-button {
  display: inline-block;
    text-decoration: none;
    border-radius: 40%;
    font-size: 19px;
    color: #008489;
    border: solid 1px #008489;
    outline: 0;
  @include hover();
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
