.capacity-count {
  margin: 20px 0;
  &__info {
    font-size: 22px;
    padding-right: 90px;
  }
}

.bed-count {
  margin-bottom: 20px;
  &__info {
    font-size: 22px;
    padding-bottom: 10px;
  }
  &__sub {
    font-size: 22px;
    padding-right: 40px;
  }
}

.number-input {
  font-size: 20px;
  width: 35px;
  margin: 0 20px;
  text-align: center;
}

.spinner-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  border: solid 1px #008489;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
