.location {
  padding: 30px 0;
  font-size: 20px;
  & input {
    font-size: 20px;
    outline: 1;
    width: 320px;
    height: 48px;
  }
}

.location-country {
  &__info {

  }
  &__form {
    & select {
      height: 100%;
      width: 200px;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      text-indent: 0.5em;
      background:white url(/assets/down_arrow.png) no-repeat;
      background-size:22px 17px;
      background-position: right center;
      outline: 0;
      border-radius: 2px;
      height: 48px;
    }
  }
}

.location-required {
  background-color: rgba(255, 180, 0, 0.1) !important;
  border-color: #ffb400 !important;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;

}

.location-postal-code, .location-state, .location-city, .location-street, .location-apartment {
  &__info {
    padding-top: 16px;
    padding-bottom: 6px;
  }
}
