.host-header {
  height: 65px;
  border-bottom: 3px solid #cccccc;
}

.host-header-body {
  &__logo {
    float: left;
    padding: 0 16px;
    border-right: 1px solid #cccccc;
  }
  &__image {
    padding-top: 4px;
  }
  &__step {
    line-height: 65px;
    float: left;
    font-size: 20px;
    padding-left: 15px;
    color: #999999;
  }
}

.rooms-new-main {
  color: #4d4d4d;
}

.rooms-form {
  width: 60%;
  min-height: 600px;
  background-color: #fffaf0;
  margin: 20px 80px;
}

.rooms-form-body {
  padding: 30px 35px;
  &__title {
    font-size: 30px;
  }
  &__sub {
    color: #c0c0c0;
    margin-top: 20px;
  }
  &__question {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
