.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  .modal {
    position: absolute;
    background-color: white;
    padding: 24px 40px 40px;
    width: 540px;
    height: 90vh;
    text-align: center;
    top: 5%;
    left: 50%;
    width: 560px;
    margin-left: -(540px / 2);
    .close-button {
      cursor: pointer;
      & i {
        float: left;
        font-weight: lighter;
      }
    }
    .facebook-link {
      padding-top: 8px;
      & a {
        text-decoration: none;
        font-size: 14px;
        color: #00ced1;
      }
      & span {
        font-size: 15px;
        color: #c0c0c0;
      }
    }
    .select-line {
      color: #444;
      font-size: 16px;
      display: flex;
      align-items: center;
      &:before, &:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #c0c0c0;
        display: block;
      }
      &:before {
        margin-right: .8em;
      }
      &:after {
        margin-left: .8em;
      }
    }
    .signup-form {
      .signup-field {
        margin-top: 20px;
        position: relative;
        &__input {
          width: 100%;
          height: 46px;
        }
        &__text {
          width: 100%;
          height: 100%;
          color: rgb(72, 72, 72);
          font-size: 18px;
          padding-left: 14px;
          background-color: #fffacd;
        }
        & i {
          position: absolute;
          top: 10px;
          right: 14px;
          font-size: 22px;
        }
      }
      .birthday-title {
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
      }
      .birthday-info {
        margin-top: 5px;
        margin-bottom: 14px;
        text-align: left;
        font-size: 14px;
      }
      .field-birthday {
        height: 50px;
        &__month, &__day, &__year {
          height: 100%;
          width: 100%;
          padding: 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 1px solid #dcdcdc;
          background-size: 20px, 100%;
        }
        &__month {
          width: 28%;
        }
        &__day {
          width: 28%;
        }
        &__year {
          width: 39%;
        }
      }
    }
    .signup-button {
      border-style: none;
      padding-top: 18px;
      height: 60px;
      &__submit {
      width: 100%;
      padding: 15px 40px;
      font-size: 1.2em;
      background-color: #fa5c4b;
      color: white;
      border-style: none;
      cursor: pointer;
      }
    }
  }
}
