.t-main-wrapper {
  padding: 0 95px;
  background-color: #fffafa;
  min-height: 800px;
  padding-top: 85px;

}
.t-main-content {
  padding: 40px 0;
  min-height: 100px;
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .t-main-inner {
    &__link {
      height: 72px;
      width: 28%;
      display: inline-block;
      margin-right: 30px;
      text-decoration: none;
      border: 1px solid #e4e4e4;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
      @include hover();
      img {
        vertical-align:middle;
      }
      span {
        padding-left: 17px;
        display: inline-block;
        height: 72px;
        color: black;
      }
    }
  }
}

.airbnb-plus {
  border-radius: 3px !important;
  overflow: hidden !important;
  position: relative !important;

  &__text {
    position: absolute;
    top: 15%;
    left: 5%;
    font-style: italic;
    font-size: 20px;
    color: gray;
  }
  &__button {
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    line-height: 22px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    font-weight: 700 !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    min-width: 77.66563145999496px !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05) !important;
    background: #ffffff !important;
    border-color: transparent !important;
    &:hover {
      cursor: pointer;
    }
  }
}

.house-content {
  min-height: 600px;
  max-height: 1400px;
  .house-item {
    width: 23%;
    float: left;
    margin-right: 15px;
    margin-bottom: 40px;
    &__image {

    }
    .house-item-text {
      text-decoration: none;
      background: transparent;
      color: black;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
      &__kind {
        color: rgb(57, 87, 106);
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 4px;
      }
      &__name {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 4px;
      }
      &__fee {
        color: #484848;
        font-weight: lighter;
      }
      &__rate {
        color: #484848;
        font-weight: lighter;
      }
    }
  }
}
