.house-item
  %a.house-item__image{href: "#{}"}
    %img{alt: "", src: "https://a0.muscache.com/im/pictures/9cc4d447-585d-4f4b-b810-47b75f59a339.jpg?aki_policy=large", style: "width: 100%;"}
    .house-item-text
      .house-item-text__kind
        ダンスレッスン · ハバナ
      .house-item-text__name
        Bailar es otra manera de vivir!
      .house-item-text__fee
        1人あたり ¥ 9,000,000,000
      .house-item-text__rate
        %span ★★★★★
        %span スーパーホスト
