- 8.times do |i|
  .house-item
    %a.house-item__image{href: "#{}"}
      %img{alt: "", src: "assets/top_experience.jpg", style: "width: 100%;"}
      .house-item-text
        .house-item-text__kind
          ダンスレッスン · ハバナ
        .house-item-text__name
          Bailar es otra manera de vivir!
        .house-item-text__fee
          1人あたり ¥ 9,000,000,000
        .house-item-text__rate
          %span ★★★★★
          %span スーパーホスト

