.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト

.house-item
  .house-item__image
    %img{alt: "", src: "assets/house_image", style: "width: 100%;"}
  %a.house-item-text{href: "#"}
    .house-item-text__kind
      一軒家貸切 · オストゥーニ
    .house-item-text__name
      I SETTE CONI - TRULLO EDERA
    .house-item-text__fee
      ¥ 9,483/泊·キャンセル無料
    .house-item-text__rate
      %span ★★★★★
      %span スーパーホスト
