.house-item
  %a.house-item__image{href: "/rooms/1"}
    %img{alt: "", src: "https://a0.muscache.com/im/pictures/6722906/b4bc6418_original.jpg?aki_policy=large", style: "width: 100%;"}
    .house-item-text
      .house-item-text__kind
        一軒家貸切 · オストゥーニ
      .house-item-text__name
        I SETTE CONI - TRULLO EDERA
      .house-item-text__fee
        ¥ 9,483/泊·キャンセル無料
      .house-item-text__rate
        %span ★★★★★
        %span スーパーホスト
