.host-header
  .host-header-body.clearfix
    .host-header-body__logo.clearfix
      = link_to root_path do
        %img{src: "http://airbnb-info.com/wp/wp-content/uploads/2014/08/image5.jpg", style: "height: 54px;", class: "host-header-body__image"}
    %span.host-header-body__step.clearfix
      ステップ2: 次に特徴をPR
