%body
  %header
    .header-body.clearfix
      .header-left.clearfix
        .head-logo.clearfix
          %a.head-logo-i{:href => "#", :style => ""}
            %img.head-logo-i_image{:src => "assets/logo.png", :style => "width: 50px; height: 50px;"}/
        .head-search
          %span.fa.fa-search
          %input.head-search__input{:placeholder => "指定なし・体験", :type => "search"}/
      .header-right.clearfix
        .head-right-body.clearfix
          %ul.head-right-i.clearfix
            %li ホストを始める
            %li ヘルプ
            %li アカウント作成
            %li ログイン
