= render partial: "./header"

.t-main-wrapper
  %div
    .t-main-content
      .t-main-content__title
        Airbnbで探す
      .t-main-inner
        %a{href: "#", class: "t-main-inner__link"}
          %img{alt: "", src: "https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large", style: "width: 96px; height: 72px;"}
          %span 宿泊先
        %a{href: "#", class: "t-main-inner__link"}
          %img{alt: "", src: "https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large", style: "width: 96px; height: 72px;"}
          %span 体験
        %a{href: "#", class: "t-main-inner__link"}
          %img{alt: "", src: "https://a0.muscache.com/im/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg?aki_policy=large", style: "width: 96px; height: 72px;"}
          %span レストラン

    .t-main-content
      .t-main-content__title
        Airbnb Plusが新登場
      .airbnb-plus
        %img{alt: "", src: "https://a0.muscache.com/4ea/air/v2/pictures/d5c4c6fd-b95b-472f-a41b-9c9f87024bc1.jpg?t=c:w800-h320,r:w800-h320-sfit,e:fjpg-c75", style: "width: 91%;"}
        %p.airbnb-plus__text
          Airbnbの宿泊先の新グレード。
          %br
          品質と快適性は認証済み。
        %a{href: "#"}
          %button{type: "button", class: "airbnb-plus__button"}
            %span
              .airbnb-plus__button__text
                Airbnb Plus認証済みホームを探す

    .t-main-content
      .t-main-content__title
        世界のお家
      .house-content.clearfix
        - @rooms.each do |room|
          = render partial: "house-item", locals: { room: room }

    .t-main-content
      .t-main-content__title
        体験
        %p.t-main-content__sub-title
          現地の仲間と何か新しいことにチャレンジ
      .house-content.clearfix
        - 8.times do |i|
          = render partial: "experience-item"

= render partial: './footer'

=render partial: "./favorite_modal"
