<header>
  <div class="header-body">
    <div class="header-left">
      <div class="head-logo">
        <a href="" class="head-logo-body">
          <img src="" class="head-logo-i_image">
        </a>
      </div>
      <div class="head-search">
        <span class="fa fa-search"></span>
        <input type="search" class="head-search__input" placeholder="指定なし・体験">
      </div>
    </div>
    <div class="header-right">
      <div class="head-right-body">
        <ul class="head-right-i">
          <li>ホストを始める</li>
          <li>ヘルプ</li>
          <li>アカウント作成</li>
          <li>ログイン</li>
        </ul>
      </div>
    </div>
  </div>
</header>
