= render partial: "./header"

.profile-wrapper

  .profile-menubar
    .p-menu-body
      %ul.profile-menu-list
        %li.profile-menu-list__edit
        %li.profile-menu-list__avatar
        %li.profile-menu-list__trust
        %li.profile-menu-list__review
        %li.profile-menu-list__introduction

  .profile-main
    .p-main-body

      .profile-required
        .profile-required__title
        .profile-required__first-name
        .profile-required__last-name
        .profile-required__gender
        .profile-required__birthday
        .profile-required__mail
        .profile-required__tel-number
        .profile-required__langage
        .profile-required__currency
        .profile-required__






      .profile-any



