= render partial: "./header"

.rooms-new-main
  .rooms-form
    .rooms-form-body
      .rooms-form-body__title
        さあ、#{current_user.first_name}さん!
        %br
        お部屋の掲載準備をはじめましょう。
      .rooms-form-body__head
        .rooms-form-body__sub
          ステップ1
        .rooms-form-body__question
          掲載するのはどんな部屋ですか？
      .rooms-form-body__room-type
      .rooms-form-body__person-capacity
      .rooms-form-body__address
      .rooms-form-body__next-button
