= render partial: "./header"

.s-main
  .s-top-wrapper
    %img{src: "https://minpakukyoka.com/wp-content/uploads/2016/04/maara.jpg"}
    %bottun.save-button.btn{"data-id": ""}
      %i{class: "fa fa-heart",style: "margin-right: 2px;"}
      %span 保存
    %bottun.share-button.btn{"data-id": ""}
      %i{class: "fa fa-angle-double-up",style: "margin-right: 2px;"}
      %span シェアする
    %bottun.photo-button.btn{"data-id": ""}
      %span 写真表示

  .s-main-wrapper
    .s-main-body.clearfix

      .s-main-left
        .s-main-left-body

          .s-info-head
            .s-info-head__type 一軒家
            .clearfix
              .s-info-head__main
                %h1.s-info-head__title I SETTE CONI - TRULLO EDERA
                .s-info-head__adrress オストゥーニ
              %a.s-info-head__user{href: "#"}
                %img.s-info-head__user-avatar{src: "/assets/no-image.png"}
                .s-info-head__user-name aoba
            .s-info-head__content
              %span ゲスト4人
              %span 1寝室
              %span ベッド2台
              %span 1バスルーム


          .s-info-space
            .s-info-space__title スペース
            .s-info-space__text
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              %br
            %a.s-info-space__message{ href: "#"}
              ホストに連絡

          .s-info-amenity
          .s-info-bed
          .s-info-rule
          .s-info-cancel
          .s-info-review

      .s-main-right
        .s-main-right-body
          .s-main-right-head
            .div
              %span.s-main-right-head__fee ¥ 9,501
              %span.s-main-right-head__one /1泊
            .s-main-right-head__rate ★★★★ 300
          .s-main-right-form
