%header
  .header-body
    .header-left
      .head-logo
        %a.head-logo-i{ href:"/", style: ""}
          %img.head-logo-i_image{:src => "http://www.logoeps.net/wp-content/uploads/2016/12/airbnb_logo.png", :style => "width: 50px; height: 50px;"}
      = form_tag( "/articles/search", method: :get, class: "head-search") do
        %span.fa.fa-search.head-search__fa
        %input.head-search__input{autocomplete: "off", name: "q", placeholder: "「東京」などのエリアを入力", required: "", type: "search"}

    .header-right
      .head-right-body
        %ul.head-right-i
          %li
            .nav-i
              %button{"aria-busy" => "false", "aria-expanded" => "true", "aria-haspopup" => "true", :type => "button"}
                ログイン
          %li
            .nav-i
              %button{"aria-busy" => "false", "aria-expanded" => "true", "aria-haspopup" => "true", :type => "button"}
                アカウント作成
          %li
            .nav-i
              %button{"aria-busy" => "false", "aria-expanded" => "true", "aria-haspopup" => "true", :type => "button"}
                ヘルプ
          %li
            .nav-i
              %button{"aria-busy" => "false", "aria-expanded" => "true", "aria-haspopup" => "true", :type => "button"}
                ホストを始める
