.favorite-modal-wrapper
  .modal
    .favorite-body
      .close-button.clearfix
        %i.fa.fa-2x.fa-times
      .favorite-body__title
        お気にいりに保存
      .favorite-body__folder-create
        お気にいりを新規作成
      .favorite-item.clearfix
        .favorite-item__text
          フォルダ名
        .favorite-item__mark
          %i.fa.fa-heart
      .favorite-item.clearfix
        .favorite-item__text
          フォルダ名
        .favorite-item__mark
          %i.fa.fa-heart
      .favorite-item.clearfix
        .favorite-item__text
          フォルダ名
        .favorite-item__mark
          %i.fa.fa-heart
