.f-favorite-modal-wrapper
  .f-favorite-modal
    .f-favorite-body
      .favorite-close-button.clearfix
        %i.fa.fa-2x.fa-times
      .f-favorite-body__title
        お気にいりを作成する
      .f-favorite-name
        .f-favorite-name__info
          タイトル
        .f-favorite-name__input
          %input{type: "text", placeholder: "お気に入りに名前を付ける"}
      .f-favorite-setting
        .f-favorite-setting__info
          公開範囲の設定
        .f-favorite-setting__input
          %select

      .f-favorite-footer.clearfix
        .f-favorite-save
          %button
            %span 保存する
        .f-favorite-cansel
          %button
            %span キャンセル
